
<div class="small-6 small-offset-3">
  <h1 class="text-center">Record Lap Time</h1>
  <%= form_for @lap do |f| %>
  <% if @notice %>
      <div id="error_explanation">
        <h2>Error prohibited this lap from being saved:</h2>
        <ul>
          <li><%= @notice %></li>
        </ul>
      </div>
    <% end %>
    <p>Select Username:</p>
    <%= select(:lap, :user_id, @users.collect {|u| [ u.username, u.id ] }) %>
    <br/>
    <p>Bike</p>
    <%= select(:lap, :bike_id, @bikes.collect {|b| [ b.color, b.id ] }, { include_blank: false}) %>
    <br/>
    <br/>
    <div>
      <span>Time:</span><%= f.text_field :formatted_time %>
    <div>
    <%= f.submit %>
  <% end %>
  <br/>
  <%= link_to 'Back', :root %>
</div>
