<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user.height_feet %>'<%= @user.height_inches %>"
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %>
</p>

<table>
  <thead>
    <tr>
      <th>Bike</th>
      <th>Time</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @laps.each_with_index do |lap, _| %>
      <tr>
        <td><%= Bike.find(lap.bike_id).color %></td>
        <td><%= lap.formatted_time.round(2) %></td>
        <td><%= lap.created_at.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
